<div class = "mt-5 text-center question-type">
    <h1>Program Type</h1>
    
</div>

<div class = "mt-5 text-center question-card">
    <h3>What programs are you looking for</h3>
    <%= form_with url: quiz_path, method: :get, local: true do |form| %>

        <% prog_ids = Array.new %>
        <% Program.all.each do |entry| %>
            <% prog_ids.push ["#{entry.name}, #{entry.company.name}" , entry.id] %>
        <% end %>

        <div class="pb-3">
            <%= form.label :program_id, "Internship:" %>
            <%= form.select :program_id, prog_ids.sort %>
        </div>
    <%end>
    
</div>
