<div class="text-center home">
<!--<img src = "Rectangle 4.png" alt="logo">-->
  <div class="center">
  <%= link_to image_tag("Group_8.png", alt: "InternConnect"), '#' %>
  </div>
  <!--<h2 class="text-center">Select a quiz to optimize your experience</h2>-->
  <br/>
  <!--<p>
    Please signup or login to test the app.
  <p>-->
  
  <%= link_to "Reviews", hello_world_path, class: "btn btn-primary" %>
</div>