<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class = "container">
    <div class="text-center home">

        <div class="welcome">
        <%= link_to image_tag("Group_8.png", alt: "InternConnect"), '#' %>
        <h2 class="text-center">Select a quiz to optimize your experience</h2>
        </div>
        <br/>
        <!--<p>
            Please signup or login to test the app.
        <p>-->
        <%= link_to "Sign up", signup_path, class: "btn btn-outline-dark" %>
        <%= link_to "Reviews", hello_world_path, class: "btn btn-outline-dark" %>
    </div>
</div>
