// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.question-type{
    color: white;
    background-color: blue;
    border-radius: 15px;
}