<script src=’https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href=’https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel=’stylesheet’ />

<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

<div>
    Find your friends
</div>


<style>
    body { margin: 0; padding: 0; }
    #height:500px;
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
    #map{
        position:absolute;
        
    }
</style>
</head>

<body>
    <div id='map' class="centered" style="height:80%; width:80%;"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2luZHlob3UwMjEwIiwiYSI6ImNrbnpidGx6djAwZ24yd28waTNydGZ6aGoifQ.d9ehp6yGwwqY5ptx0PG11Q';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/cindyhou0210/ckodmql6h377417scxw5hr34k', // style URL
    
    center: [-71.1063, 42.3752], // starting position [lng, lat]
    zoom: 10 // starting zoom
    });

    map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['mentors'] // replace this with the name of the layer
  });

  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h5>' + feature.properties.User + '</h5><p>' + feature.properties.Email + '</p>')
    .addTo(map);
});
    
    </script>

 
</body>
</html>