<script src=’https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<link href=’https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel=’stylesheet’ />

<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

<div>
    Find your friends
</div>


<style>
    body { margin: 0; padding: 0; }
    #height:500px;
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
    #map{
        position:absolute;
    }
</style>
</head>

<body>
    <div id='map' class="centered" style="height:80%; width:80%;"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2luZHlob3UwMjEwIiwiYSI6ImNrbnpidGx6djAwZ24yd28waTNydGZ6aGoifQ.d9ehp6yGwwqY5ptx0PG11Q';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
    </script>
 
</body>
</html>